*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #191919;
}
.gallery{
    width: 900px;
    display: flex;
    overflow-x: scroll;
}
.gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex:none;
}

.gallery div image{
    width: 100%;
}
.gallery::-webkit-scrollbar{
    display: none;
}
/* .gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
} */
#backBtn , #nextBtn{
    width: 50px;
    cursor: pointer;
    margin: 40px;
}